@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Arquitecta';
  src: url('https://res.cloudinary.com/djwd8tgyz/raw/upload/v1771337587/Arquitecta_ugnrw4.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arquitecta';
  src: url('https://res.cloudinary.com/djwd8tgyz/raw/upload/v1771337588/ArquitectaMedium_kgjozb.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arquitecta';
  src: url('https://res.cloudinary.com/djwd8tgyz/raw/upload/v1771337587/ArquitectaBold_phdcsn.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arquitecta';
  src: url('https://res.cloudinary.com/djwd8tgyz/raw/upload/v1771337588/ArquitectaHeavy_icibzn.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
